html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

html, body {
  height: 100dvh;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo {
  margin-top: 100px;
}

#menu-opener {
  display: none;
  cursor: pointer;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #menu-opener {
    display: block;
  }
  .navigation ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background: #222;
    width: 200px;
  }
  .navigation ul.active {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
#description {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px 10px;
  font-size: 1.2em;
  height: auto;
  min-height: 20px;
  color: white;
}

#home.box {
  padding-top: 140px;
}

.clothes {
  height: 300px;
  background-size: cover;
  background-position: center;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.clothes:hover .screen {
  top: 0;
}
.clothes .screen {
  top: -100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  -webkit-transition: top 1.5s;
  transition: top 1.5s;
}

#menu-link {
  z-index: 1000;
}

#menu-title {
  position: static;
  top: 0;
  z-index: 10;
}

#gallery {
  padding: 20px;
}
#gallery .inner {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
#gallery .image {
  height: 200px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#gallery .image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.container .card {
  margin-top: 800px;
  padding: 2em;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
}
#lightbox .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#lightbox .content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#lightbox img {
  max-width: 80vw;
  max-height: 80vh;
}
#lightbox span {
  color: white;
  font-size: 3em;
  cursor: pointer;
  margin: 0 20px;
}

.hidden {
  display: none !important;
}

#contact.box {
  max-width: 50px;
  margin: 0 auto;
  padding: 60px 20px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 60 px;
  margin-bottom: 20px;
}

#location {
  height: 500px;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
  margin-top: 100 px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.card {
  margin-bottom: 20px;
}

.black {
  background-color: #222;
}

.white {
  background-color: white;
}

.white-text {
  color: white;
  text-align: center;
}

.black-text {
  color: black;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
}

.slim {
  font-weight: 200;
}

.title {
  font-size: 4em;
}

.subtitle {
  font-size: 2.5em;
}

.medium {
  font-size: 1.5em;
}

.large-padding {
  padding: 5px 5px;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.bottom {
  bottom: 0;
}

.top {
  top: 3em;
}

.right {
  right: 5em;
}

.up {
  z-index: 2;
  position: relative;
}

.full-height {
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.row {
  margin: 0;
}

.no-margin {
  margin: 0;
}

.hidden {
  display: none;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-height: 600px) {
  #menu-title, .medium, .navigation li {
    margin-top: -15%;
  }
}
@media only screen and (max-width: 960px) {
  #menu-opener {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    font-size: 2em;
    color: red;
    cursor: pointer;
  }
  .path-step {
    display: inline-block;
    margin-right: 1em;
  }
  #navigation ul {
    display: none !important;
  }
  #responsive-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  #responsive-nav li {
    display: block;
    margin: 20px 0;
  }
  #responsive-nav li a {
    color: white;
    font-size: 2em;
  }
  #responsive-nav.active {
    opacity: 1;
    pointer-events: all;
  }
}
@media only screen and (max-width: 500px) {
  #responsive-nav {
    top: 95px;
  }
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}